{% import_yaml "ossec/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
  'default': {
  },
}, grain='os_family', default='default', merge=salt['pillar.get']('ossec:lookup', {}))
%}

{% do default_settings.ossec.update(os_family_map) %}

{% set ossec_map = salt['pillar.get'](
    'ossec',
    default=default_settings.ossec,
    merge=True)
%}
