<!-- {{ ossec_map.lookup.locations.base_dir }}/etc/ossec-server.conf -->

<!-- WARNING: This file is managed by Salt Stack -->

<ossec_config>
  {%- for section in ossec_map.config.ossec_server_conf.ossec_config %}
  {%- for section_name, section_dict in section.items() %}
  <{{ section_name }}>
  {%- for avp in section_dict %}
  {%- for attribute_name, value in avp.items() %}
    <{{ attribute_name }}>{{ value }}</{{ attribute_name.split()[0] }}>
  {%- endfor %}
  {%- endfor %}
  </{{ section_name }}>
  {%- endfor %}
  {%- endfor %}
</ossec_config>

<!-- EOF -->
